:root {
    font-size: 14px;
    font-family: 'Red Hat Text';
    color: #fff;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    background:
    url(./images/pattern-hills.svg) repeat-x bottom,
    url(./images/bg-stars.svg) repeat,
    linear-gradient(0deg, #643c4d 0%, #1d1e2c 80%);
}

h1 {
    letter-spacing: 10px;
}

h2 {
    color: #fb6087;
    font-size: 4em;
}

h3 {
    color: #8486a9;
    letter-spacing: 5px;
}

/* Timer */

#content {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    padding-bottom: 50px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#secondss {
    padding: 20px;
    background-color: #1d1e2c;
    border-radius: 10px;
    box-shadow: 0 10px 3px #151620;
}

#minutess {
    padding: 20px;
    background-color: #1d1e2c;
    border-radius: 10px;
    box-shadow: 0 10px 3px #151620;
}

#hourss {
    padding: 20px;
    background-color: #1d1e2c;
    border-radius: 10px;
    box-shadow: 0 10px 3px #151620;
}

#dayss {
    padding: 20px;
    background-color: #1d1e2c;
    border-radius: 10px;
    box-shadow: 0 10px 3px #151620;
}

@keyframes flipthis {
	0% {
		-webkit-transform: rotateX(0deg); /* Safari and Chrome */
		-moz-transform: rotateX(0deg); /* Firefox */
                transform: rotateX(0deg);
	}
	10% {
		-webkit-transform: rotateX(180deg); /* Safari and Chrome */
		-moz-transform: rotateX(180deg); /* Firefox */
		transform: rotateX(180deg);
	}
}

/* Footer kinda */

.attribution { 
    font-size: 11px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.attribution a { color: #3e52a3; }

#socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fb:hover {
    cursor: pointer;
    filter: invert(49%) sepia(48%) saturate(945%) hue-rotate(301deg) brightness(102%) contrast(97%);
}

.insta:hover {
    cursor: pointer;
    filter: invert(49%) sepia(48%) saturate(945%) hue-rotate(301deg) brightness(102%) contrast(97%);
}

.pin:hover {
    cursor: pointer;
    filter: invert(49%) sepia(48%) saturate(945%) hue-rotate(301deg) brightness(102%) contrast(97%);
}

/* desktop */
@media screen and (min-width: 376px) {
   
}